	<div id="page">
				
		<div class="top"></div>
		<div class="content">
			
			<div class="header page">
				<h1>About</h1>
				<ul>
					
				</ul>
			</div>
			
			<div class="padding">
				
				<div class="left"> 
				
				<br />
					<h4>Net Price Calculators.  What are they?</h4>
					
					<p> New initiative that is in effect by November of 2011.  Every college must post software that allows families to calculate an estimated net price. </p>
					
					<h4>Net Price is defined in 2 ways:</h4>
					
					<p>1) Comprehensive College Costs (tuition and fees, room and board, books and supplies, personal expenses) – Gift assistance (scholarships and grants) = Net Price (without student loan and campus employment) </p>
					
					<p>2) Comprehensive Costs – Gift assistance – Student loan and Campus employment = Net Price    </p>
					
					<br/>
				</div>

				<div class="right">
				
				<br />
					<div class="sidebar_box">
						<h4>Sign Up Now</h4>
						<p>Learn the Net Prices of your favorite schools by using this new Financial Fit College Search Program.  
</p>					<p><a href="/users/sign_up">Sign Up Now</a>.</p>
					</div>
					
	
					<div class="sidebar_box">
						<h4>Contact Us</h4>
						<p>Still have questions? Looking for a corporate account? <a href="/contact">Contact us</a>.</p>
					</div>
				</div>
				<div class="clear"></div>
				
			</div>
			
		</div>
		<div class="bottom"></div>
	</div>
