	<div id="page">

				

		<div class="top"></div>

		<div class="content">

			

			<div class="header page">

				<h1>Contact Us</h1>

			</div>

			

			<div id="contact" class="padding">

				<br />

				<p>Looking for help?  Are you interested in a group rate or a coporate account?  Any other questions?  Fill out the form below and team member from myfinancialfit.com will get in touch with you as soon as possible.</p>

				

				<div class="section_title">

					<h3>Send Us An Email</h3>

				</div>

				

				<p class="validation"></p>

				

				<form action="scripts/send_email.php" method="post" id="contact_form">

					

					<p><label>Your Name</label>

					<input type="text" id="name" name="name" class="text_field" /></p>

					

					<p><label>Your Email</label>

					<input type="text" id="email" name="email" class="text_field" /></p>

					

					<p><label>Company/School Name</label>

					<input type="text" id="company" name="company" class="text_field" /></p>

					

					<p><label>Phone Number</label>

					<input type="text" id="phone" name="phone" class="text_field" /></p>

					

					<p class="last"><label>Subject</label>

					<select name="subject" id="subject" class="text_field">

						<option value="General Support">General Support</option>

						<option value="General Support">Group Rate Inquiry</option>

						<option value="General Support">Financial Company Inquiry</option>

					</select></p>

					<div class="clear"></div>

					

					<p class="message"><label>Message</label>

					<textarea name="message" id="message" class="text_field" rows="" cols=""></textarea></p>

					

					<div class="send_form">

						<a href="javascript:;" class="button" id="send"><span>Send Email</span></a>

					</div>

					<div class="clear"></div>

					

				</form>

				

			</div>

			

		</div>

		<div class="bottom"></div>

	</div>
