<div id="page">

				

		<div class="top"></div>

		<div class="content">

			<h2>A Financial Fit College Search Program</h2>

			<div class="header header_home page">

				

				<div class="price_tag"></div>

				

				

				<!-- Start App Screenshot -->

				<img src="images/screenshot.png" alt="" class="main_screenshot" />

				<!-- End App Screenshot -->

		

				<!-- Start App Info -->

				<div class="info">

					

					<p>Introducing myfinancialfit.com "matching a family's affordability with the net price of colleges."  Most College Search programs deal with a set of preferences….Major, Geographic area, Size of campus, Academic profile of student body.  Myfinancialfit.com focuses on net price and encourages families to find a list of colleges that they know they can afford prior to searching for colleges based on a set of preferences.<br /><br />

myfinancialfit.com allows families to do affordability assessments and value assessments.  Are the colleges that interest me the most affordable?  Do colleges with similar features and benefits have similar net prices?  How do I find these affordable college options, these "financial fits?"

<br />

</p>

					

					<a href="/users/sign_up" class="button icon"><img src="images/go_icon.png" alt="" /><span>Signup Now!</span></a>

					

				</div>

				<!-- End App Info -->

				<div class="clear"></div>

				

			</div>

			

			

				

			

		</div>

		<div class="bottom"></div>

	</div>
