	<div id="page">

				

		<div class="top"></div>

		<div class="content">

			

			<div class="header page">

				<h1>Pricing</h1>

			</div>

			

			<!-- Start Price Table -->

			<div id="pricing" class="padding">

				

				

				

				<div id="price_table">

					<table cellpadding="0" cellspacing="0">

						<thead>

							<tr>

								<td>

									<h2>3 Months</h2>

									

								</td>

								<td>

									<h2>6 Months</h2>

									

								</td>

								<td>

									<h2>One Year</h2>

									

								</td>

								

							</tr>

						</thead>

						<tbody>

							<tr>

								<td>$29.95</td>

								<td>$49.95</td>

								<td>$89.95</td>

								

							</tr>

							

							

							

						</tbody>

                       

					</table>

                     

				</div>

				<div class="clear"></div>

				<!-- End Price Table -->

                <div class="selectmainbox">

				<div class="selectplanbtn"><a href="#"></a></div>

                <div class="selectplanbtn2"><a href="#"></a></div>

                 <div class="selectplanbtn3"><a href="#"></a></div>

				 </div>

                <!-- Start FAQs -->

                <div class="clear"></div>

				<div id="faq">

					

					<div class="section_title">

						<h3>Corporate Accounts</h3>

					</div>

					

					<div class="left">

						<h4>Employers	</h4>

						<p>Order myfinancialfit.com for your employees.  To learn about discounted group rates: </p> <p> <span><a href="contact.html">Complete our form and we will contact you. </a>

</span></p>

					</div>



					<div class="right">

						<h4>Banks, Insurance companies, credit unions, financial advising companies</h4>

						<p>Order myfinanancialfit.com for your customers, clients, and prospective clients.  To learn about discounted group rates: </p> <p><span><a href="contact.html">Complete our form and we will contact you. </a></span></p>

					</div>

					<div class="clear"></div>

					

					

					

				</div>

				

			</div>

			<!-- End FAQs -->

			

		</div>

		<div class="bottom"></div>

	</div>
