<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>  
	<title>FreshServe - A ThemeForest Theme</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/luminousvivid-orange.css" />
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/site.js"></script>
	<script type="text/javascript" src="/javascripts/demo.js"></script>
</head>
<body>
  
<%= render :partial => 'layouts/header' %>

<%= yield %>

<%= render :partial => 'layouts/footer' %>
</body>
</html>
